body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

header {
  background-image: url(hero.jpg);
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 30px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin: 0 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  transition: all 0.2s ease-in-out;
}

nav a:hover {
  transform: scale(1.1);
}

.hero {
  text-align: center;
  color: #fff;
}

.hero h1 {
  font-size: 4em;
  margin-bottom: 20px;
}

.hero p {
  font-size: 1.5em;
  margin-bottom: 50px;
}

.cta {
  background-color: #fff;
  color: #000;
  padding: 20px 30px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 25px;
  transition: all 0.2s ease-in-out;
}

.cta:hover {
  background-color: #000;
  color: #fff;
  transform: scale(1.1);
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px;
}

section {
  margin-bottom: 100px;
}

section h2 {
  text-align: center;
  margin-bottom: 50px;
}

.service-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.service {
  margin: 0 30px;
  text-align: center;
  max-width: 300px;
}

.service i {
  font-size: 3em;
  color: #007aff;
  margin-bottom: 20px;
}

.service h3 {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.service p {
  font-size: 1em;
}

.project-container {
  display: flex;
  justify-content: space-between;
  align-items:
